:root{
  --main:#2B1F31;
  --blue:#2D6E7E;
  --accent:#C6DE41;
  --body:#616F39;
}


body {
  margin: 0;
  background-color:var(--main);
 
}

.final_message{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 35, 35, 0.8);
}

.final_message_content{
  width:30%;
 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:40%;
  background-color: #e8e4ea;
  border-radius: 10px;
  text-align: center;
}


header{
  margin-top: 70px;
  color: var(--accent);
  text-align: center;
}

header h1{
  font-size: 50px;
  line-height: 0;
  margin-bottom: 40px;
  letter-spacing: 10px;
}

header p{
  font-size: 25px;
}

.main-wrap{
  width: 90%;
  margin: 3% auto 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.alph_cont{
  width:40%;
  padding: 0 3% 0 0;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.letter{
  width:20px;
  font-size: 3vw;
  padding: 3% 4%;
  margin: 0 0;
  transition: 0.3s;
}

.letter:hover{
transform: scale(1.3);
transition: 0.2s;
color: #f69b12;
}

.body-wrap{
  width: 400px;
  height: 350px;
  border-color: #e8e4ea;
  border-style: solid;
  position: relative;
}

.gallows_bottom{
  position: absolute;
  bottom: 15%;
  left: 30%;
  transform: translateX(-20%);
  width:15%;
  border-bottom: var(--body) solid 5px;
}

.gallows_main{
  position: absolute;
  bottom: 15%;
  left: 34%;
  height: 230px;
  border-left: var(--body) solid 5px;
 
  width: 18%;
  border-top: var(--body) solid 5px;
}

.gallows_last{
  position: absolute;
  height: 13%;
  bottom: 80%;
  left: 52%;
  border-right: solid 5px;
  border-color: var(--body);
}



@media (min-width:320px){

  header{
    margin-top: 15%;
  }
  header h1{
    margin-bottom: 10%;
    font-size: 9vw;
  }

  header p{
    font-size: 5vw;
  }

  

  .letter{
    font-size: 20px;
  }

  .body-wrap{
    width: 150px;
    height: 250px;
    border-color: #e8e4ea;
    border-style: solid;
    position: relative;
  }


  .gallows_bottom{
    position: absolute;
    bottom: 24%;
    left: 17%;
    transform: translateX(-20%);
    width:15%;
    border-bottom: solid 5px;
    border-color: var(--body);
  }
  
  .gallows_main{
    position: absolute;
    bottom: 25%;
    left: 20%;
    height: 150px;
    border-left: solid 5px;
   
    width:43%;
    border-top:  solid 5px;
    border-color: var(--body);
  }
  
  .gallows_last{
    position: absolute;
    height: 14%;
    bottom: 72%;
    left: 63%;
    border-right: solid 5px;
    border-color: var(--body);
  }

  .body_head{
    position: absolute;
    width:20px;
    height: 20px;
    top:28%;
    left: 58%;
    border-radius: 50px;
    border-style: solid;
    border-width: 4px;
    border-color:var(--body);
  }

  .body_main{
    position: absolute;

    height: 40px;
    top:40%;
    left: 64%;
    border-radius: 50px;
    border-style: solid;
    
    border-color:var(--body);
  }

  .body_leftArm{
    position: absolute;
    height: 30px;
    top:38%;
    left: 59%;
    border-left: solid 5px;
    border-color:var(--body);
    transform: rotate(35deg);
  }

  .body_rightArm{
    position: absolute;
    height: 30px;
    top:38%;
    left: 69%;
    border-left: solid 5px;
    border-color:var(--body);
    transform: rotate(-35deg);
  }

  .body_leftLeg{
    position: absolute;
    height: 30px;
    top:54%;
    left: 60%;
    border-left: solid 5px;
    border-color:var(--body);
    transform: rotate(35deg);
  }

  .body_rightLeg{
    position: absolute;
    height: 30px;
    top:54%;
    left: 68%;
    border-left: solid 5px;
    border-color:var(--body);
    transform: rotate(-35deg);
  }

  .word_wrapp{
    width: 80%;
    margin: 5% auto;
    
    
  }

  .word_ul{
    padding: 0;
    display: flex;
    justify-content: center;
    gap:10%;
   
  }

  .word_li{
    list-style-type: none;
    font-size: 30px;
    color:var(--accent);
    border-bottom: 5px white solid;
  }
  
}

@media (min-width:577px){

  .body-wrap{
    width: 400px;
    height: 350px;
    border-color: #e8e4ea;
    border-style: solid;
    position: relative;
  }

  .gallows_bottom{
    position: absolute;
    bottom: 24%;
    left: 30%;
    transform: translateX(-20%);
    width:15%;
    border-bottom: solid 5px;
    border-color: var(--body);
  }
  
  .gallows_main{
    position: absolute;
    bottom: 25%;
    left: 34%;
    height: 200px;
    border-left:  solid 5px;
    width: 30%;
    border-top:  solid 5px;
    border-color: var(--body);
  }
  
  .gallows_last{
    position: absolute;
    height: 10%;
    bottom: 73%;
    left: 64%;
    border-right: solid 5px;
    border-color: var(--body);
  }

  .body_head{
    position: absolute;
    width:40px;
    height: 40px;
    top:27%;
    left: 58%;
    border-radius: 50px;
    border-style: solid;
    border-width: 4px;
    border-color:var(--body);
  }

  .body_main{
    position: absolute;

    height: 42px;
    top:40%;
    left: 64%;
    border-radius: 50px;
    border-style: solid;
    
    border-color:var(--body);
  }

  .body_leftArm{
    position: absolute;
    height: 30px;
    top:39%;
    left: 62%;
    border-left: solid 5px;
    border-color:var(--body);
    transform: rotate(35deg);
  }

  .body_rightArm{
    position: absolute;
    height: 30px;
    top:39%;
    left: 66%;
    border-left: solid 5px;
    border-color:var(--body);
    transform: rotate(-35deg);
  }

  .body_leftLeg{
    position: absolute;
    height: 30px;
    top:52%;
    left: 62%;
    border-left: solid 5px;
    border-color:var(--body);
    transform: rotate(35deg);
  }

  .body_rightLeg{
    position: absolute;
    height: 30px;
    top:52%;
    left: 66%;
    border-left: solid 5px;
    border-color:var(--body);
    transform: rotate(-35deg);
  }

}